@font-face{
    font-family: Night-Stalker;
    src: url(assets/fonts/night-stalker.ttf);
}
@font-face{
    font-family: Bona-Nova;
    src: url(assets/fonts/BonaNovaSC-Regular.ttf);
}
@font-face{
    font-family: Bona-Nova-Bold;
    src: url(assets/fonts/BonaNovaSC-Bold.ttf);
}
@font-face{
    font-family: Bona-Nova-Italic;
    src: url(assets/fonts/BonaNovaSC-Italic.ttf);
}
html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#background-video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.content{
    position: relative;
    z-index: 1;
    overflow: auto;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.buy-btn-text{
    font-family: Bona-Nova;
}
.navbar-text{
    font-size: 1rem !important;
    color: white !important;
    font-family: Bona-Nova;
}
.navbar-text:hover{
    color: #BE1829 !important;
}
.game-information{
    margin-top: 200px;
}
#available-now{
    color: #BE1829 !important;
    font-size: 3.4rem;
    font-family: Night-Stalker;
    margin-bottom: 0px;
}
#logo{
    max-width: 100%;
    height: 100%;
}
.platforms{
    width: 120px;
    height: 60px;
}
.subtitles{
    font-family: Bona-Nova-Bold;
    color: #BE1829;
}
.quotes{
    font-family: Bona-Nova-Italic;
    color: #BE1829;
    font-size: 3rem;
}
.contentspace{
    margin-top: 17%;
}
.pagetext{
    font-family: serif;
    color: white;
}
.boldtext{
    font-family: Bona-Nova-Bold;
}
#aboutimg{
    z-index: -1;
    position: absolute;
    margin-bottom: 45%;
}
.dlc{
    width: 370px;
    height: 250px;
}
.dlc:hover{
    filter: brightness(1.2);
}
.downloadable-content{
    font-family: Bona-Nova-Bold;
    color: #BE1829;
    font-size: 1.2rem;
    transform: rotate(90deg);
    white-space: nowrap;
    padding-top: 0.5%;
}
.subtitles2{
    color: #BE1829;
    font-size: 3.4rem;
    font-family: Night-Stalker;
    margin-bottom: 0px;
    white-space: nowrap;
}
.subtitles3{
    color: white;
    white-space: nowrap;
}
#demoimg{
    width: 300px;
    height: auto;
}
.demo-available{
    margin-left: 1.5%;
}
@media (min-width: 992px){
    .platforms-available{
        margin-left: 0.5em;
    }
    #available-now{
        margin-left: 0.38em;  
    }
}
@media (max-width: 576px){
    #available-now{
        font-size: 3rem;
    }
}
@media (min-width: 768px) and (max-width: 991.5px){
    .platforms-available{
        margin-left: 8%;
    }
}
@media (min-width: 576px) and (max-width: 767.5px){
    .platforms{
        width: 100px;
        height: 50px;
    }
    .platforms-available{
        margin-left: 4%;
    }
}
@media (max-width: 576px){
    .platforms{
        width: 100px;
        height: 50px;
    }
    .platforms-available{
        margin-left: 38%;
    }
}
@media (max-width: 450px){
    .platforms-available{
        margin-left: 34%;
    }
}
@media (min-width: 450px) and (max-width: 575.5px){
    .platforms-available{
        margin-left: 36%;
    }
}