body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.buy-btn{
   border-radius: 10%;
   margin-left: 20px;
   margin-right: 20px;
}
.navbar-text{
    font-size: 1.2rem !important;
    color: white !important;
    padding-left: 20px;
}
.game-information{
    margin-top: 200px;
}
#available-now{
    color: #BE1829;
    padding-left: 16px;
    padding-top: 0px;
    margin-bottom: 30px;
}